<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIToolbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AIToolboxIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E0A4F921C133E8800AD5AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E0A4F9B1C133E8800AD5AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EBA29AA1A91350C0012CEC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EBA29B51A91350C0012CEC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
